<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    
    <title>Malaria project</title>
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
    <title>Malaria_Project</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="index1.html">Genomics System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
 
            </ul>
        </div>
    </div>
</nav>
    
    
    
  <div id="nav">
    <h2>Malaria Dashboard</h2>
    <div class="container px-4 px-lg-5">
      <!-- Heading Row-->
      <div class="row gx-4 gx-lg-5 align-items-center my-5">
          <div class="col-lg-7"></div>
          <div class="col-lg-5">
              <h1 class="font-weight-light">Band 3? PFGARP?</h1>
              <p>
                  Band 3 (anion exchanger-1) is the most abundant integral membrane protein on the surface of RBCs with 
                  approximately 1.2 million copies per cell. 
                  Plasmodium parasites exploit the high abundance of Band 3 and employ a variety of ligands to engage this receptor.
                  Binding of a ligand to a receptor changes its shape or activity, allowing it to transmit a signal 
                  or directly produce a change inside of the cell.
                  Plasmodium falciparum erythrocyte membrane protein 1 (PfEMP1) is a family of proteins present on the membrane 
                  surface of red blood cell(RBCs or erythrocytes) that are infected by the malarial parasite 
                  Plasmodium falciparum.
                  Our research focused on PfGARP chr9 which is a main Ligand. 
                   
              </p>
              
             
              
          </div>
      </div>
      
  
  <div id="malaria_freqs" ><img src="../static/malaria_bases.png"/>

  </div>
  </section>
  <div class="tooltip"></div>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://unpkg.com/topojson@3"></script>
  <script src="../static/js/pie.js"></script>
  <script src="../static/js/bar.js"></script>
  <script src="../static/js/map.js"></script>
  <script src="../static/js/app.js"></script>
  <script src="../static/js/malaria.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
</body>

</html>